body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hangman {
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-width: 20px;
  border-radius: 10px;
  width: 700px;
  height: 450px;
  align-content: center;
}
#upper {
  display: flex;
  justify-content: space-between;
}
img {
  width: 250px;
  height: auto;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 30px;
}
button {
  font-size: 25px;
}
#lower {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
#buttons1, #buttons2 {
  display: flex;
  gap: 5px;
}
#spacesContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.correct {
  background-color: #a5f0a7;
}
.incorrect {
  background-color: #db5351;
}
#mistakes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}
.letter {
  width: 40px;
  height: 40px;
}
.space {
  margin-top: 80px;
}
#reload {
  margin: 10px;
}